body{
    background-color: #ADD8E6
    }
.heading{
    font-size:75px;
    position:absolute;
    top:10px;
    left:902px;
}
.loc{
    font-size:26px;
    position:absolute;
    top:100px;
    left:800px;
}
.tickets{
        border:0cqw;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        position:absolute;
        top:100px;
        left:230px;
        transition-duration: 0.4s;
        cursor: pointer;
        border-radius:12px;
      }
      
      .tickets{
        background-color: rgb(25, 94, 125); 
        color: black; 
        border: 2px solid rgb(25, 94, 125);
      }
      
      .tickets:hover {
        background-color: rgb(10, 92, 130);
        color: white;
      }
.book{
    font-size:26px;
    position:absolute;
    top:570px;
    left:800px;
}
button {
  color: black ;
  text-transform: uppercase;
  background: #ffffff;
  padding: 20px;
  border: 4px solid black ;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  }
button:hover {
  color: black;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  }